@mixin overall {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

@mixin textStyle($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin media($size) {
    @if ($size == M) {
        @media (max-width: 768px) {
            @content;
        }
    } @else if($size == L) {
        @media (min-width: 768px) {
            @content;
        }
    }
}
