@import "variables";
@import "mixins";

* {
    @include overall;
}

body {
    background-color: $bgColor;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1.8rem;
    background-color: $primaryColor;

    h1 {
        @include textStyle(1.3rem, bold, $secondaryColor);
    }
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;

    nav {
        cursor: pointer;
    }

    img {
        width: 45px;
        border-radius: 50%;
    }

    a {
        text-decoration: none;
        @include textStyle(1rem, bold, $secondaryColor);
        transition: all 0.15s ease-in;

        &:hover {
            color: $textColor;
        }
    }
}

// ============================ hamburger menu ==============================

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: $secondaryColor;
    position: absolute;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 5px;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@include media(M) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 12px;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid rgb(77, 56, 163);
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: $secondaryColor;
        background-color: #8b77dc;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    .menu > li > a {
        font-size: 0.82rem;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        height: 2.4px;
        width: 25px;
    }

    .header {
        h1 {
            @include textStyle(1rem, bold, $secondaryColor);
        }
    }

    .navbar {
        img {
            width: 40px;
        }
    }

    // ================================

    .main {
        flex-direction: column-reverse;
        align-items: center !important;
        margin: 1rem;

        main {
            width: calc(100% - 2rem) !important;
            height: 500px !important;
            margin-bottom: 20px;

            h2 {
                font-size: 3rem !important;
            }

            p {
                font-size: 1.3rem !important;
            }

            img {
                width: 250px !important;
            }
        }

        aside {
            width: calc(100% - 2rem) !important;
            margin: auto !important;
        }
    }

    .cards {
        grid-template-columns: 1fr !important;
        margin: 0 auto !important;
    }

    footer {
        flex-direction: column;

        .summary {
            width: 100% !important;
            margin-bottom: 50px !important;
        }

        .links {
            width: 100% !important;
            padding: 0 !important;
        }
    }
}

@include media(L) {
    .cards {
        grid-template-columns: 1fr 1fr !important;
        gap: 50px !important;
    }

    footer {
        flex-direction: column;

        .summary {
            width: 100% !important;
            margin-bottom: 50px !important;
        }

        .links {
            width: 100% !important;
            padding: 0 !important;
        }
    }
}

// ===============================================================

.main {
    display: flex;
    margin: 2rem;

    aside {
        flex-direction: column;
        width: 25%;
        margin-right: 25px;
        @include bodyStyle;
        @include boxStyle;

        div {
            background-color: $primaryColor;
            width: 100%;
            height: 110px;
            margin: 20px 10px;
            line-height: 110px;
            text-align: center;
            @include boxStyle;
            @include textStyle(0.9rem, normal, $secondaryColor);
        }
    }

    main {
        width: 75%;
        flex-direction: column;
        text-align: center;
        @include bodyStyle;
        @include boxStyle;

        img {
            width: 300px;
            @include boxStyle;
        }

        h2 {
            @include textStyle(3.5rem, bold, $primaryColor);
            margin: 2rem 0 3rem;
        }

        p {
            @include textStyle(1.8rem, bold, $textColor);
        }
    }
}

.cards {
    width: calc(100% - 4rem);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    padding: 20px 0;
}

.card {
    @include boxStyle;
    img {
        width: 100%;
    }
    .card-content {
        line-height: 1.5rem;
        padding: 15px;
        background-color: $secondaryColor;

        p {
            margin: 10px 0;
            @include textStyle(1.1rem, 100, $textColor);
        }

        span {
            display: inline-block;
            margin: 10px 0;
            @include textStyle(0.9rem, bold, $primaryColor);
        }
    }
}

footer {
    display: flex;
    padding: 2rem;
    background-color: $primaryColor;
    margin-top: 30px;

    .summary {
        width: 50%;

        p {
            text-align: justify;
            @include textStyle(1.1rem, 100, $secondaryColor);
        }
    }
    .links {
        padding: 0 5rem;
        width: 50%;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        a {
            text-decoration: none;
            @include textStyle(1.1rem, bold, $secondaryColor);
            transition: all 0.12s ease-in;

            &:hover {
                color: $textColor;
            }
        }
    }
}
